
<div class="container-fluid" style="min-height: 100vh">
  <div class="d-flex" style=" align-items: center;">
    <h2 class="m-4">Mes Voyages</h2>
  </div>

<div class="d-flex">
  <div class="col-7">
    <h3>Current Voyages</h3>
  <% @bookings["present"].each do |booking| %>
    <div>
        <%#= link_to property_path(@property) do %>
          <div class="card-trip rounded-lg col-6">
            <%= cl_image_tag booking.property.photo, width: 400, height: 300, crop: :fill%>
            <div class="d-flex">
              <div class="card-trip-infos">
                <div>
                  <h2>
                    <%= booking.property.name %>
                  </h2>
                  <p>
                    <%= booking.property.country %>
                    <p> <%= booking.check_in_date %> - <%= booking.check_out_date %></p>
                  </p>
                </div>
              </div>
              <div class="" style="align-items: center;
      display: flex;     margin-left: auto; padding-right: 5px;">
                <h6> <%=  ((booking.check_out_date - booking.check_in_date) * booking.property.price).to_i %> €</h6>
              </div>
            </div>
          </div>
        <%# end %>
      </div>
  <% end %>


<h3>Past Voyages</h3>
  <% @bookings["past"].each do |booking| %>
    <div class="card-product col-11">
        <%= cl_image_tag booking.property.photo %>
        <div class="d-flex">
          <div class="card-product-infos">
            <h2> <%= booking.property.name %></h2>
            <p> <%= booking.check_in_date %> - <%= booking.check_out_date %></p>
          </div>
          <div class="" style="align-items: center;
      display: flex; padding-right: 5px; margin-left: auto;">
            <h6> <%=  ((booking.check_out_date - booking.check_in_date) * booking.property.price).to_i %> €</h6>
          </div>
        </div>
    </div>
    <% end %>
  </div>

  <div class="col-5">
    <h3>Future Voyages</h3>
  <% @bookings["future"].each do |booking| %>
    <div class="card-product">
        <%= cl_image_tag booking.property.photo %>

        <div class="d-flex">
          <div class="card-product-infos">
            <h2> <%= booking.property.name %></h2>
            <p> <%= booking.check_in_date %> - <%= booking.check_out_date %></p>
          </div>
          <div class="" style="align-items: center;
      display: flex; padding-right: 5px; margin-left: auto;">
            <h6> <%=  ((booking.check_out_date - booking.check_in_date) * booking.property.price).to_i %> €</h6>
          </div>
        </div>
    </div>
    <% end %>
  </div>


</div>




</div>

