<nav class="navbar navbar-expand navbar-light bg-light nav-h">
    <a class="navbar-brand" href="#">
        <%= link_to root_path do %>
        <%= image_tag "beach.png", width: 30%>
        <% end %>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text ml-3">
            <%= link_to "Publier une annonce", new_property_path %>
        </span>
        <span class="navbar-text ml-3">
            <%= link_to "Mes voyages", user_voyages_bookings_path %>
        </span>

        <span class="navbar-text mt-3">
            <ul class="no-style-list">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hôte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="#">
                            <%= link_to "Mes îles", user_properties_path %> </a>
                        <a class="dropdown-item" href="#">
                            <%= link_to "Mes clients", user_properties_bookings_path %>
                        </a>
                    </div>
                </li>
            </ul>
        </span>
         <span class="navbar-text mt-3">
      <ul class="no-style-list">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "avatar-sans-nom", width: 30%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" href="#"> <%= link_to "Log out", destroy_user_session_path  %> </a>
          </div>
        </li>
      </ul>
    </span>
    </div>
</nav>
