<nav class="navbar navbar-expand navbar-light bg-light nav-h">
  <a class="navbar-brand" href="#">
    <%= link_to root_path do %>
    <%= image_tag "beach.png", width: 30%>
    <% end %>
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text ml-3">
      <%= link_to "Publier une annonce", new_property_path %>
    </span>
    <span class="navbar-text ml-3">
      <%= link_to "Mes voyages", user_voyages_bookings_path %>
    </span>

    <span class="navbar-text mt-3">
      <ul class="no-style-list">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hôte
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1" id="visible">
            <div class="pl-3"> <%= link_to "Mes îles", user_properties_path %> </a>
            </div>
            <a class="dropdown-item" href="#">
              <div class="pl-3"> <%= link_to "Mes clients", user_properties_bookings_path %>
              </div>
            </div>
          </li>
        </ul>
      </span>
      <span class="navbar-text mt-3">
        <ul class="no-style-list">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar"> <%= image_tag "avatar-sans-nom", width: 30%>
                </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1" id="visible">
              <a class="dropdown-item" href="#"> <%= link_to "Log out", destroy_user_session_path  %> </a>
            </div>
          </li>
        </ul>
      </span>
    </div>
  </nav>
