<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1540202404-d0c7fe46a087?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);">
  <div class="container-fluid  bkg-no-repeat text-center">
    <h1 class="2em"><strong><span class="homescript"></span></strong></h1><br>
    <button class="btn btn-success color-white"><%= link_to "Voir toutes les iles/plages", properties_path  %></button>


  </div>
  </div>

  <div class="cards">
  <div class="container mt-3 mb-3 d-flex flex-wrap">
    <div class="row">
      <div class="col-12 mb-3"><h2>Découverte du jour</h2></div>
    <% @properties = Property.first(3) %>
     <% @properties.each do |property| %>
      <div class="col-4">
        <%= link_to property_path(property) do %>
          <div class="card-trip rounded-lg">
            <%= cl_image_tag property.photo, width: 400, height: 300, crop: :fill%>
            <div class="d-flex">
              <div class="card-trip-infos">
                <div>
                  <h2>
                    <%=link_to property.name, property_path(property) %>
                  </h2>
                  <p>
                    <%= property.country %>
                  </p>
                </div>
              </div>
              <div class="" style="align-items: center;
    display: flex;     margin-left: auto; padding-right: 5px;">
                <h6><%= property.price %> € </h6>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

</div>
