<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TODO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->


</head>
<body>
    <!-- NAVBAR USER CONNECTE -->

<% if user_signed_in? %>
  <% if current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path)%>
    <%= render "shared/navbar_connected_invisible"  %>
  <% else %>
    <%= render "shared/navbar_connected"  %>
  <% end %>
  <% elsif current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path)%>
    <%= render "shared/navbar_no_connected_invisible"  %>
      <% else %>
    <%= render "shared/navbar_no_connected"  %>
  <!-- NAVBAR USER NON CONNECTE -->
<% end %>

  <%= yield %>

  <%= render "shared/footer"  %>
  <p class="alert"><%= alert %></p>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
